html, body {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

.wrapper {
  min-height: 100%;
  margin-bottom: -20px;
}

.wrapper:after {
  content: "";
  display: block;
}

.headerContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
  height: 90px;
}

.AboutMeSection {
  width: 100%;
  max-width: 898px;
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  margin-bottom: 15px;
  border-bottom: 3px solid #ddd;
}

.profileImage {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer,
.wrapper:after {
  clear: both;
  height: 20px;
}

.footer {
  padding: 20px 0;
  font-size: 12px;
  color: #ccc;
  background-color: #666;
  border-top: 8px solid #4aaaa5;
  margin-top: 30px;
  clear: both;
  width: 100%;
  text-align: center;
}

header {
  width: 100%;
  background-color: #ffffff;
  margin: 0 0 30px;
  border-bottom: 2px solid #cccccc;
}

#name {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  line-height: 90px;
  text-align: center;
  background-color: #4aaaa5;
  float: left;
  text-decoration: none;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  padding-left: 15px;
  margin-left: 15px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

section {
  clear: both;
}
